<div class="content-modal">
    <h1 class="title">Filtro</h1>
    <form>
        <div class="content-form">
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="Precio Min." [(ngModel)]="min" name="min">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="Precio Max." [(ngModel)]="max" name="max">
            </mat-form-field>
            <div>
                <button class="button ok" mat-stroked-button color="primary" (click)="sendFilter()">Aplicar</button>
                <button class="button clear" mat-stroked-button color="primary" (click)="clear()">Limpiar</button>
            </div>
        </div>
    </form>
</div>