<div class="footer">
    <h5>Háblanos! support@joyshop.com</h5>
    <button class="btn">Contáctanos</button>
    <div class="social">
        <a href="https://www.google.com/" target="blank">
            <img src="../../assets/icons/google.svg" alt="google">
        </a>
        <a href="https://www.facebook.com/" target="blank">
            <img src="../../assets/icons/facebook.svg" alt="facebook">
        </a>
        <a href="https://www.twitter.com/" target="blank">
            <img src="../../assets/icons/twitter.svg" alt="twitter">
        </a>
        <a href="https://www.youtube.com/" target="blank">
            <img src="../../assets/icons/youtube.svg" alt="youtube">
        </a>
    </div>
    <div class="footer-down">
        <span>©Copyright. All rigths reserved.</span>
    </div>
</div>