<div class="content">
    <h1 class="title">{{product.name}}</h1>
    <div class="basic-info-product">
        <div class="carousel-content">
            <div class="image" (click)="showImage()">
                <img [src]="imageSelected" alt="">
            </div>
            <div *ngIf="!onlyImage()" class="button before">
                <i class="material-icons" matTooltip="Anterior" (click)="before()">navigate_before</i>
            </div>
            <div *ngIf="!onlyImage()" class="button next">
                <i class="material-icons" matTooltip="Siguiente" (click)="next()">navigate_next</i>
            </div>
        </div>
        <div class="info-product">
            <div class="price">
                <span>Precio: </span>${{product.price}}
            </div>
            <div class="stock">
                <span>Stock: </span>{{product.stock}}
            </div>
            <mat-accordion class="full-width big">
                <mat-expansion-panel [expanded]=true>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Descripción</mat-panel-title>
                        <mat-panel-description></mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>{{product.description}}</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <mat-accordion class="full-width small">
        <mat-expansion-panel [expanded]=true>
            <mat-expansion-panel-header>
                <mat-panel-title>Descripción</mat-panel-title>
                <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{product.description}}</p>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="content-commentary">
        <h3>Comentarios.</h3>
        <div class="content-form" *ngIf="isLogged()">
            <mat-form-field class="full-width">
                <textarea matInput placeholder="Comentario" [(ngModel)]="commentary.comment" name="commentary"></textarea>
            </mat-form-field>
            <button class="ok"  matTooltip="Enviar comentario" mat-stroked-button color="primary" (click)="saveCommentary()">Enviar</button>
        </div>
        <div class="content-commentaries" *ngIf="oldCommentaries.length">
            <div *ngFor="let commentary of oldCommentaries">
                <div class="commentary">
                    <i class="material-icons">mode_comment</i> 
                    <div>
                        <span>{{commentary.comment}}</span>
                    </div>
                </div>
                <div class="answer" *ngIf="commentary.answer">
                    <i class="material-icons">comment</i> 
                    <div>
                        <span>{{commentary.answer}}</span>
                        <span class="date">{{commentary.updatedAt | date:'dd/MM/yyyy HH:mm'}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>