<div class="content-modal">
    <h1 class="title">Registro</h1>
    <form>
        <div class="content-form">
            <mat-form-field class="full-width input-login">
                <input type="text" matInput placeholder="Nombre" [(ngModel)]="user.name" name="name">
            </mat-form-field>
            <mat-form-field class="full-width input-login">
                <input type="text" matInput placeholder="Apellidos" [(ngModel)]="user.lastname" name="lastname">
            </mat-form-field>
            <mat-form-field class="full-width input-login">
                <input type="email" matInput placeholder="Email" [(ngModel)]="user.email" name="email">
            </mat-form-field>
            <mat-form-field class="full-width input-login">
                <input type="password" matInput placeholder="Password" [(ngModel)]="user.password" name="password">
            </mat-form-field>
            <button class="button ok" mat-stroked-button color="primary" (click)="save()">Ok</button>
        </div>
    </form>
</div>